// .test {
//   transform: all 1s;
// }

.cart-dropdown {
  position: absolute;
  min-width: 280px;
  width: 15vw;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 5vw;
  z-index: 5;
  transition: all 1s;

  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

  .cart-items {
    height: 240px;
    // background-color: brown;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  button {
    margin-top: auto;
  }
}
