.checkout-item {
  width: 100%;
  display: flex;
  // min-height: 100px;
  height: 150px;
  // border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  font-size: 20px;
  align-items: center;

  &.grey {
    background-color: rgba(231, 224, 224, 0.459);
  }

  .image-container {
    height: 150px;
    width: 23%;
    padding-right: 15px;

    img {
      width: 100%;
      min-width: 110px;
      max-width: 180px;
      height: 100%;
    }
  }
  .name,
  .quantity,
  .price {
    width: 23%;
  }

  .quantity {
    display: flex;
    align-items: center;
    align-content: center;

    .arrow {
      cursor: pointer;
      font-size: 18px;

      align-self: flex-start;
    }
    .value {
      margin: 0 10px;
    }
  }

  .remove-button {
    // padding-left: 12px;
    cursor: pointer;
  }
}
